<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

                <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
                        <p class="white-color">
                                <b>Welcome to Java Plagiarism Detection Tool</b>
                        </p>
                </div>

        </div>
</nav>


<div class="container">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
        </div>

        <h1>Login</h1>
        <input type="text"
               ng-model="email"
               class="form-control"
               placeholder="email-id"/>
        <input type="password"
               ng-model="password"
               class="form-control"
               placeholder="password"/>

        <h1>
        </h1>

        <a ng-click="model.login(email,password)" class="btn btn-primary btn-block">Login</a>
        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

                <div class="navbar-header pull-right">

                        <p class="navbar-text pull-right rightmargin-fifteenpx">

                        </p>
                </div>
        </div>
</nav>
