


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="white-color">
                <b>Test Report</b>
            </p>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <h1>The Plagiarism Report is as follows:</h1>
    <br>
    <br>
    <div id="exportthis">
    <b>Student name:</b><p>{{model.studentonename}}</p>
    <br>
    <b>Methods:</b>
    <p>{{model.studentone}}</p>
        <br>
        <b>Student name:</b><p>{{model.studenttwoname}}</p>
        <br>
        <b>Methods:</b>
        <p>{{model.studenttwo}}</p>
    </div>
    <br>
    <br>
    <button ng-click="model.exportreport()" class="btn btn-primary" type="button">Download Report</button>
    <button ng-click="model.savereport()" class="btn btn-primary" type="button">Save Report</button>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-user white-color">

          </span>
                    <!--</div>-->
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#/login" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-off white-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>
