<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="white-color">
                <b>Welcome to MyMovieStore</b>
            </p>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group no-underline">
        <li ng-repeat="favorite in model.favorites" class="list-group-item text-primary white-border">
            <a href="#/user/{{model.userId}}/searchmovies/{{favorite._movie.imdbId}}/{{model.title}}">{{favorite.moviename}}</a>
            <a href ng-click="model.unFavoriteMovie(favorite._user,favorite._movie)">
                <span class="glyphicon glyphicon-remove-circle pull-right rightmargin-fivepx primary-blue"></span></a></li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-user white-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>
