<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="white-color">
                <b>Saved Reports:</b>
            </p>
        </div>

    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group no-underline">
        <li ng-repeat="report in model.userreports" class="list-group-item text-primary white-border">
            <a>{{report.dateCreated}}</a>
            <br>
            <a>{{report.reportText}}</a>
            <br>
            </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-user white-color">

          </span>
                    <!--</div>-->
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#/login" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-off white-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>
